body{
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 40px;
    color: crimson;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.half-width{
    width: 50%;
    margin: 50px;
}
.half-width img{
    width: 100%;
}
.btn{
    padding: 10px 12px;
    background-color: #e102ff;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightslategray ;
    transition:background-color  0.8s;
}
.btn:hover{
    background-color: aqua;
}
.h2{
    text-align: center;
    color: #e102ff;
    font-size: 25px;
    margin: 80px;
}
.last-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}
.images img{
    width: 30%;
    border: 1px solid;
    padding: 10p;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 10px 40px lightslategray;
}
.text{
    margin-top: 80px;
}
.footer{
    border:1px solid #e102ff;
    background-color: #e102ff;
    border-radius: 15px;
    padding: 10px 100px;
    margin: 30px;
    box-shadow: 10px 10px 40px rgb(46, 50, 54);
}